* {
  box-sizing: border-box;
  border: 0.5px solid red;
  color: white;
}

ul { /* 텍스트 옆에 콩알 없애기 */
  list-style: none;
}

a { /* 텍스트 아래에 줄 없애기 */
  text-decoration: none;
  color: #000000;
}

body {
  background-color: rgb(23, 4, 107);/* 나중에 black */
  padding: 1px;
  margin: 0px;
}

.header {
  padding: 1px;
}

.header_container {
  width: 100%; /* 1 */
  border-bottom: 1px solid #aaaaaa; /* 2 메뉴아래 구분선 */
  display: flex; /* 3 */
  /* position: absolute; */
  z-index: 2;          /* 헤더까지 영상이 올라오도록 하기 */
  top: 0px;
  left: 0px;
  padding: 1px;
  justify-content: space-between; /* 4 양 끝에 균등하게 배치 */
}

.header_left { /* 로고 */
  padding: 0.5rem 1rem;
  margin: 0rem;
}

h1 {
  font: bold 24px/1;
  font-family: 'Caveat', cursive;
  color: white;
  margin: 0rem 0.5rem;
}

.header_center { /*  */

}

.header_ul01 {
  display: flex; /* 5 안쪽에 있는 li들이 좌우 균등하게 배치됨. */
  margin-top: 1.2rem;
  margin-bottom: 0px;
  padding-left: 200px;
  color: white;
}

.header_ul01 li {
  margin: 0px 30px; /* 6 위아래 0px, 양 옆에 20px */
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
}

.header_ul01 li a {
  color: white;
  font-size: 105%;
}

.header_ul01 li a:hover{
  border-radius: 5px;
  color: rgb(0, 0, 255);
  /* text-decoration:underline;
  text-underline-position:under; 밑줄 */ 
  font-weight: bold;
  background-color: rgb(255, 255, 255, 0.6);
}

.header_ul02 {
  padding: 0.1rem;
}

.header_ul02 li {
  margin: 0.4rem 0rem;
  /* letter-spacing: 2px; 글자 간격 */
  color: #aaaaaa;
  font-size: 90%;
}

.header_ul02 li:hover{
  color: white;
}


header .lnb {
  display: flex;
  margin-top: 0px;
  margin-bottom: 30px;
}

header .lnb li {
  margin: 0px;
  margin-right: 10px;
}

.header_right { /* 로그인 */
  padding: 0px;
  margin: 0.5rem 1.0rem;
}

.header_right button {
  background: none;
  border: white solid 1px;
  border-radius: 5px;
}

.home_login a {
  color: white;
}

header .btnMenu {
  font-size: 20px;
  color: white;
  display: none;
}
/* <!-- ////////// header 끝 main 시작 /////////// --> */
.sc01 {
  display: flex;
  justify-content: space-between; 
  padding: 2rem;
  
}
.sc01-left{
 margin-left: 5%;
}
.sc-ul{
  box-shadow: 2px 2px 2px 2px cyan;
  display: flex;
  padding: 1rem 3rem 1rem 1rem;
}
.sc-ul li{
  margin-left: 3rem;
  padding: 5px;
}
.sc01-right{
  margin-right: 5%;
}
select{
  color: #000000;
}
button{
  color: black;
}
.sc-ul li{
  padding: 0 20px 0 20px;
  margin-right: 10px;
}
.sc-ul li a {
 color: white;
}
.table-box{
  margin: 2% 5% 2% 5%;
  width: 90%;
}
.page-item{
  margin: 0.5rem;
}
.page-item a{
  background-color: aqua;
  color: black;
}
/* 메인 끝 푸터시작 */
.footer_container {
  display: flex;
  justify-content: space-between; 
}



/* 반응형 웹 처리 */
@media screen and (max-width: 1024px) {
  header .gnb {
    display: none;
  }
  header .lnb {
    display: none;
  }
  header .btnMenu {
    display: block;
  }
}