* {
  /* border: 1px solid red; */
}

a{
  text-decoration: none;
  color: black;
}

.container-fluid{
  justify-content: space-between;
}

.navbar-brand{
  font-weight: bold;
  font-size: 2rem;
  color: rgba(70, 41, 236, 0.897);
  margin: 1% 2%;
}

.navbar-nav{
  width:100%;
  margin: 0% 2%;
}

.nav-item{
  color: black;
  margin-left: 2%;
  font-weight: bold;
}
/*  */

main{
  padding: 3% 5%;
}

.main_wraper{
  padding: 3% 4%;
  border: 2px solid rgba(70, 41, 236, 0.733);
  border-radius: 10px;
}

.category{
  display: flex;
  border-bottom: 2px solid rgba(70, 41, 236, 0.733);
  padding-bottom: 3%;
  align-items: center;
}

.form-select{
  width: auto;
  margin: 1%;
}

.main_wraper table{
  margin-top: 4%;
  margin-bottom: 1%;
}

.table-group-divider{
  text-align: center;
}

.check{
  text-align: center;
}

.btn_check{
  border: 1px solid gray;
  border-radius: 5px;
  width: auto;
}

.btn_check:active{
  background-color: rgb(182, 182, 182);
}

.main_wraper p{
  font-size: smaller;
  padding-left: 1%;
}