* {
  box-sizing: border-box;
  border: 1px solid red;
}

ul { /* 텍스트 옆에 콩알 없애기 */
  list-style: none;
}

a { /* 텍스트 아래에 줄 없애기 */
  text-decoration: none;
}

body {
  background-color: white; /* 나중에 black */
}

header {
  width: 100%; /* 1 */
  border-bottom: 1px solid #aaaaaa; /* 2 메뉴아래 구분선 */
  display: flex; /* 3 */
  justify-content: space-between; /* 4 양 끝에 균등하게 배치 */
  top: 0px;
  left: 0px;
  align-items: center;
  font-family: 'Caveat', cursive;
  position: absolute;
  z-index: 2;          /* 헤더까지 영상이 올라오도록 하기 */
  padding-right: 10px;
}

header h1 {
  margin: 20px 30px;
  margin-top: 30px;
  font: bold 24px/1;
  color: white;
}

header .gnb {
  display: flex; /* 5 안쪽에 있는 li들이 좌우 균등하게 배치됨. */
  margin-bottom: 0px;
  margin-top: 30px;
  padding-left: 200px;
}

header .gnb li {
  margin: 0px 30px; /* 6 위아래 0px, 양 옆에 20px */
  font-family: 'Dosis', sans-serif;
}

header .gnb li a {
  color: white;
  letter-spacing: 2px; /* 글자 간격 */
}

header .gnb li:hover{
  transform: scale(1.05);
}

header .gnb li.on a {
  background-color: yellowgreen;
  color: black;
  font: bold;
}

header .lnb {
  display: flex;
  margin-top: 0px;
  margin-bottom: 30px;
}

header .lnb li {
  margin: 0px;
  margin-right: 10px;
}

header .lnb li a {
  font-size: 10px;
  color: white;
}

header .lnb li button {
  background: none;
  border: white solid 1px;
  border-radius: 5px;
}

header .btnMenu {
  font-size: 20px;
  color: white;
  display: none;
}

.camp-bg {
  width: 100%;
  height: 100vh;
}

/* 영상이 화면에 맞춰지도록 하기 */
.video-wrap video { 
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  
}

/* 반응형 웹 처리 */
@media screen and (max-width: 1024px) {
  header .gnb {
    display: none;
  }
  header .lnb {
    display: none;
  }
  header .btnMenu {
    display: block;
  }
}