* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

ul { /* 텍스트 옆에 콩알 없애기 */
  list-style: none;
}

a { /* 텍스트 아래에 줄 없애기 */
  text-decoration: none;
  color: #000000;
}

body {
  background-color: white; /* 나중에 black */
  padding: 1px;
  margin: 0px;
}

.header {
  padding: 1px;
  background-color: rgb(70, 64, 236);
}

.header_container {
  width: 100%; /* 1 */
  border-bottom: 1px solid #aaaaaa; /* 2 메뉴아래 구분선 */
  display: flex; /* 3 */
  /* 아래 코드 주석으로 막은 이유가 자꾸 지도가 헤더 뒤에 가서 붙음 */
  /* position: absolute; */
  z-index: 2;          /* 헤더까지 영상이 올라오도록 하기 */
  top: 0px;
  left: 0px;
  padding: 1px;
  justify-content: space-between; /* 4 양 끝에 균등하게 배치 */
}

.header_left {
  padding: 0.5rem 1rem;
  margin: 0rem;
}

h1 {
  font: bold 24px/1;
  font-family: 'Caveat', cursive;
  color: white;
  margin: 0rem 0.5rem;
}

.header_center {

}

.header_ul01 {
  display: flex; /* 5 안쪽에 있는 li들이 좌우 균등하게 배치됨. */
  margin-top: 1.2rem;
  margin-bottom: 0px;
  padding-left: 200px;
  color: white;
}

.header_ul01 li {
  margin: 0px 30px; /* 6 위아래 0px, 양 옆에 20px */
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
}

.header_ul01 li a {
  color: white;
  font-size: 105%;
}

.header_ul01 li a:hover{
  border-radius: 5px;
  color: rgb(0, 0, 255);
  /* text-decoration:underline;
  text-underline-position:under; 밑줄 */ 
  font-weight: bold;
  background-color: rgb(255, 255, 255, 0.6);
}

.header_ul02 {
  padding: 0.1rem;
}

.header_ul02 li {
  margin: 0.4rem 0rem;
  /* letter-spacing: 2px; 글자 간격 */
  color: #aaaaaa;
  font-size: 90%;
}

.header_ul02 li:hover{
  color: white;
}


header .lnb {
  display: flex;
  margin-top: 0px;
  margin-bottom: 30px;
}

header .lnb li {
  margin: 0px;
  margin-right: 10px;
}

.header_right {
  padding: 0px;
  margin: 0.5rem 1.0rem;
}

.header_right button {
  background: none;
  border: white solid 1px;
  border-radius: 5px;
}

.home_login a {
  color: white;
}

header .btnMenu {
  font-size: 20px;
  color: white;
  display: none;
}

.camp-bg {
  width: 100%;
  height: 100vh;
}

/* 영상이 화면에 맞춰지도록 하기 */
.video-wrap video { 
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.text-wrap {
  position: absolute;
  z-index: 2;
  width: 520px;
  height: 100vh; /* 뷰포트 */
  padding: 240px 20px;
  left: 0;
  top:0;
}

.text-wrap h2 {
  color: white;
  font-size: 50px;
  line-height: 1.25;
  margin-bottom: 40px;
  font-weight: lighter;
}

.text-wrap h3 {
  color: white;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 20px;
}

.text-wrap p {
  color: white;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.footer_container {
  display: flex;
  justify-content: space-between; 
}



/* 반응형 웹 처리 */
@media screen and (max-width: 1024px) {
  header .gnb {
    display: none;
  }
  header .lnb {
    display: none;
  }
  header .btnMenu {
    display: block;
  }
}

/* 내가 추가한 부분 */
.tag {
  text-align: center;
}

.taglist {
  display: inline-block;
  margin-top: 53px;
  line-height: 1.6;
}

.taglist-item {
  float: left;
  margin-right: 15px;
  font-size: 20px;
}


/* 상세보기 버튼 */
.btn.btn-primary.btn-sm {
  margin: auto;
  width: 5rem;
  height: 2rem;
}

/* 지점 목록 이름과 버튼 간격 */
.list-group-branch {
  display: flex;
  justify-content: space-between;
}