a {
  text-decoration: none;
}

.page-header {
  padding: 20px 0px;
}

.board-list {
  margin: 20px 0px;
}

.modal-title {
  color: #fff;
  background-color: #198754;
  margin: 4px;
  padding: 6px 12px;
}