* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: 'Nanum Gothic', sans-serif;
}

.left_line {
  width: 1rem;
  height: 100%;
  background: rgba(15, 2, 90, 0.726);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
}

.top {
  background-color: rgba(152, 152, 212, 0.692);
  position: fixed;
  z-index: 200;
  bottom: 5%;
  right: -1%;
  border-radius: 10%;
  color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 150%;
  border: rgba(47, 47, 172, 0.815) solid 2px;
}

.top:hover{
  box-shadow: 0px 0px 10px 1px rgb(57, 54, 70);
  color: white;
}

ul, li { /* 텍스트 옆에 콩알 없애기 */
  list-style: none;
}

a { /* 텍스트 아래에 줄 없애기 */
  text-decoration: none;
  color: white;
}

body {
  background: linear-gradient(to right, rgb(14, 1, 71), rgb(36, 1, 189));
  /* background-color: rgb(14, 1, 71); */
  margin: 0px;
  color: white;
}

.dropdown-toggle::after {/* 하단 화살표 없애기 */
  display:none;
}

.header_container {
  border-top: 2px solid #aaaaaa; /* 2 메뉴아래 구분선 */
  width: 100%; /* 1 */
  display: flex; /* 3 */
  padding-bottom: 0.5rem;
}

.navbar-brand { /* 로고 */
  margin: 0.3rem 1rem;
  margin-left: 3%;
  margin-right: 10%;
  padding: 1%;
  color: white;
  font-weight: bold;
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
  margin-top: 0px;
  padding-top: 0px;
}

.navbar-brand:hover{
  color: rgba(195, 195, 255, 0.459);
}

#nav-item{
  margin-left: 5%;
  white-space:nowrap;
}

#navbar01{
  letter-spacing: 0.2rem;
}

.nav-link{
  color: white;
  font-size: 105%;
  padding-top: 0px;
}

.nav-link:hover{
  border-radius: 5px;
  /* text-decoration:underline;
  text-underline-position:under; 밑줄 */ 
  font-weight: bold;
  color: white;
}

.dropdown-item{
  color: white;
  font-size: 90%;
  font-family: 'Dosis', sans-serif;
}

.dropdown-item:hover{
  background-color: rgba(255, 255, 255, 0.726);
  font-weight: bold;
}

.dropdown-menu{
  background: linear-gradient(to right, rgba(35, 1, 189, 0.726), rgba(14, 1, 71, 0.726));
}

.header_right { /* 로그인 */
  min-width: max-content;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
  text-align: right;
}

.header_right button {
  background: none;
  border: white solid 1px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 75%;
}

.header_right button:hover {
  font-weight: bold;
}

.header_right a:hover{
  color: white;
}

.navbar {
  padding: 0px;
}

.navbar-toggler{
  /* border: solid red; */
  margin-bottom: 1%;
  margin-right: 1%;
  background: none;
  border: 0px;
}

.main_container{
  background-color: white;
  border-bottom: 2px solid #aaaaaa; /* 2 메뉴아래 구분선 */
  padding: 5% 7%;
  margin-left: 1rem;
}

.text-primary{
  font-size: larger;
  font-weight: bold;
  margin-bottom: 1rem;
}

.mb-4{
  color:black; 
}

.mb-3 {
  color:black; 
  font-weight: bold;
  margin-top: 1rem;
}

.mb-2{
  color:black; 
}

.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.24);
}

.footer_container{
  padding: 1% 2.5%;
  padding-left: 3%;
  font-size: 90%;
}

.foot_detail{
  font-family: 'Ubuntu', sans-serif;
}

.foot_detail:hover{
  color: rgba(195, 195, 255, 0.459);
}

.icons{
  float: right;
  display: flex;
  align-items: center;
  min-width: max-content;
}

.icon{
  margin: 0.3rem;
}
