* {
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  
  .left_line {
    width: 20px;
    height: 100%;
    background: rgba(15, 2, 90, 0.726);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
  }
  
  ul { /* 텍스트 옆에 콩알 없애기 */
    list-style: none;
  }
  
  a { /* 텍스트 아래에 줄 없애기 */
    text-decoration: none;
    color: white;
  }
  
  body {
    background: linear-gradient(to right, rgb(14, 1, 71), rgb(36, 1, 189));
    /* background-color: rgb(14, 1, 71); */
    padding: 1px;
    margin: 0px;
    color: white;
  }
  
  .header {
    padding: 1px;
  }
  
  #nav_bar {
  
  }
  
  .header_container {
    border-bottom: 2px solid #aaaaaa; /* 2 메뉴아래 구분선 */
    width: 100%; /* 1 */
    display: flex; /* 3 */
    z-index: 2;          /* 헤더까지 영상이 올라오도록 하기 */
    top: 0px;
    left: 0px;
    padding: 1px;
    justify-content: space-between; /* 4 양 끝에 균등하게 배치 */
  }
  
  .navbar-brand { /* 로고 */
    padding: 1%;
    padding-left: 2rem;
    padding-right: 10%;
    color: white;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    margin: 0rem 1rem;
  }
  
  #navbarNav{
    margin-bottom: 1%;
  }
  
  .header_ul01 {
    /* display: flex;
    justify-content: space-around; */
    margin-top: 1.2rem;
  }
  
  .header_ul01 a {
    letter-spacing: 1px;
    margin: 0rem 1rem;
    color: white;
  }
  
  .header_ul01 li {
    min-width: max-content;
    font-family: 'Dosis', sans-serif;
    cursor: pointer;
    /* margin: 0% 10%; */
    display: inline-block;
    top: 0;
  }
  
  .header_ul01 li a {
    font-size: 105%;
  }
  
  .header_ul01 li:hover a{
    border-radius: 5px;
    /* text-decoration:underline;
    text-underline-position:under; 밑줄 */ 
    font-weight: bold;
  }
  
  .header_ul02 {
    padding: 0%;
    display: none; 
    position:absolute;
    background-color: rgba(5, 1, 43, 0.644);
    border-radius: 10px;
  }
  
  /* 하위 메뉴 숨기기 */
  .header_ul01 li:hover ul{
    display:block;
  }
  
  .header_ul02 li{
    margin: 0.4rem 0rem;
  }
  
  .header_ul02 li a{
    color: #aaaaaa;
    font-size: 90%;
  }
  
  .header_ul02 li a{
    display:block;
  }
  
  .header_ul02 li a:hover{
    color: white;
    background: none;
  }
  
  .header_right { /* 로그인 */
    min-width: max-content;
    margin: 0rem 1.0rem;
    position: fixed;
    top: 2%;
    right: 0%;
  }
  
  .header_right button {
    background: none;
    border: white solid 1px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: smaller;
  }
  
  .navbar-toggler{
    /* border: solid red; */
    margin-bottom: 1%;
    background: none;
    border: 0px;
    margin-right: 1%;
  }
  .navbar-toggler-icon {
    font-size: 20px;
  }
  
  .main_container{
    background-color: white;
    border-bottom: 2px solid #aaaaaa; /* 2 메뉴아래 구분선 */
    padding: 3% 7%;
  }

  html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  #calendar {
    max-width: 1100px;
    margin: 40px auto;
  }

/*요일*/
.fc-col-header-cell-cushion {
	color: #000;
  text-decoration: none;
  }

.fc-col-header-cell-cushion:hover {
	text-decoration: none;
	color:#000;
  }
/*일자*/
  .fc-daygrid-day-number{
	color: #000;
	font-size:1em;
  text-decoration: none;
  }

/*일정시간*/
.fc-daygrid-event > .fc-event-time{
      color:#000;
      }
/*시간제목*/
.fc-daygrid-dot-event > .fc-event-title{
      color:#000 !important;
      }
  
  .event-icon {
    width: 24px;
  }

.branch_title{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.intro_branch_detail_info{
    display: flex;
    justify-content: space-between;
    /* padding: 0.8rem; */
}

.table.table-borderless{
    width: 50%;
    margin: auto;
    font-size: 1rem;
    margin-left: 1rem;
}

/* .intro_trainer{
    padding: 1rem;
} */

.footer_container {
    display: flex;
    justify-content: space-between; 
    padding: 1% 2.5%;
}


  /* 반응형 웹 처리 */
  @media screen and (max-width: 1024px) {
    header .gnb {
      display: none;
    }
    header .lnb {
      display: none;
    }
    header .btnMenu {
      display: block;
    }
  }